<div class="product-card">
  <h3 style="text-align: center">Product details</h3>
  <div class="product-details">
    <h2>{{ product?.name }}</h2>
    <p><strong>SKU:</strong> {{ product?.sku }}</p>
    <p><strong>Description:</strong> {{ product?.description }}</p>
    <p><strong>Category:</strong> {{ product?.category }}</p>
    <p><strong>Price:</strong> ${{ product?.price }}</p>
  </div>
</div>
<div class="product-actions">
  <button class="edit-button" (click)="editProduct()">Edit</button>
  <button class="delete-button" (click)="deleteProduct()">Delete</button>
</div>
